* {
    margin: 0;
    padding: 0;
}

/* colors */
/* #008ECF this is primary */
/* #0179AC this is secondary */
/* #E95E1C this is accent color */

body {
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
}

.title {
    font-size: 20px;
    font-weight: bolder;
}

nav {
    background-color: white;
    padding-bottom: 75px;
    }

.list a {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    gap: 25px;
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-container, .content {
    width: 75%;
    margin: 0px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin: 0 auto;
}

.hero {
    margin: 100px 0 200px 0;
    display: flex;
    gap: 50px;
}

.hero-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30% 70% 70% 30% / 76% 55% 45% 24% ;
}

.hero-header {
    font-size: 54px;
}

.hero-content {
    margin: 15px 0;
}

.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    flex: 3;
}

.button {
    background-color: #FF7E00;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    color: white;
}

.button:hover {
    opacity: 90%;
}

.content {
    padding: 50px 0 100px 0;
    margin: 0 auto;
    text-align: center;
}

.content-container {
    background-color: #008ECF;
}

.content-heading {
    font-size: 32px;
    color: white;
    padding-bottom: 15px;
    border-bottom: 3px solid #FF7E00;
    border-radius: 15px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    font-weight: bold;
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.card a {
    border-radius: 5px;
    color: black;
}

.card img {
    width: 100%;
    margin-bottom: 5px;
}

.brand-message {
    width: 75%;
    margin: 0 auto;
    padding: 100px 0;
}

.quote  {
    font-size: 32px;
    font-style: italic;
}

.name {
    font-weight: bolder;
    font-size: 24px;
    text-align: end;
}